*,
*::before,
*::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #672bbf;
}
/* title*/
.logo{
    background-color: #672bbf;
}
.title{
    display:flex;
}

.title h1{
    color: white;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    display:flex;
}

/* Navigation Bar */

.nav_bar{
     display:flex;
     gap: 1rem;
     margin-top: 2.5rem;
     margin-left:30rem;
    cursor:pointer;
}

.nav_bar a{
    display: flex;
    font-size: 22px;
    color: white;
    text-decoration: None;
    display: flex;
    text-decoration: none;
}

/* Hero_section */
.hero_section{
    display: flex;
    padding:6px
}

.content{
    margin-top: 6rem;
    margin-left: 2rem;
    color: #fff;
    font-weight:bold;
    padding: 8px;
}
    
.hero_section  h1{
    font-size: 3.5rem;
}

.hero_section  p{ 
    margin-top: 4rem;
    font-size: 1.5rem;
}

/* buttons */
.btn_1{
   cursor:pointer;
   padding:15px 25px;
   background-color: #008CBA;
   color:#fff;
   border:none;
   border-radius:6px;
   margin-top: 2rem;
}

.btn_2{
    cursor:pointer;
    padding:15px 25px;
    background-color:  #672bbf;;
    color:#fff;
    border-radius:6px;
    border-color:#fff;
    margin-top: 2rem;
 
}

/* img*/
.hero_section img{
    width: 35rem;
    height:35rem;
}
